.button {
    color: blue !important;
    font-size: 16px;
    padding: 10px !important;
  }



  .header {
    background-color: #FF0000;
    color: #FFFFFF;
  }
  
  .footer {
    background-color: rgb(0, 128, 0);
    color: hsl(0, 0%, 100%);
  }



  .text {
    font-size: 14px !important;
    color: gray;
    margin-top: 10px !important;
  }




  .button {
    background-color: #000080;
    color: #FFF;
    border-color: blue;
  }