name: Build Check

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  check-build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22.13.1" # Use the appropriate Node.js version for your project

      - name: Set up .npmrc
        run: |
          echo "strict-ssl=false" > ~/.npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GPKG_TOKEN }}" >> ~/.npmrc
          echo "@TCB-Application-Development:registry=https://npm.pkg.github.com/" >> ~/.npmrc
          echo "registry=https://registry.npmjs.org/" >> ~/.npmrc
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPKG_TOKEN }}" >> ~/.npmrc
          echo "@tcb-application-development:registry=https://npm.pkg.github.com/" >> ~/.npmrc
          echo "@tcb-enterprise-services:registry=https://npm.pkg.github.com/" >> ~/.npmrc

      - name: Install dependencies
        run: npm install

      - name: Determine build command
        id: determine-build
        run: |
          BRANCH_NAME="${{ github.event.pull_request.head.ref }}"
          if [[ "$BRANCH_NAME" == "develop" || "$BRANCH_NAME" == develop/* ]]; then
            echo "BUILD_COMMAND=npm run build-dev" >> $GITHUB_ENV
          elif [[ "$BRANCH_NAME" == "test" || "$BRANCH_NAME" == test/* ]]; then
            echo "BUILD_COMMAND=npm run build-qa" >> $GITHUB_ENV
          elif [[ "$BRANCH_NAME" == "main" ]]; then
            echo "BUILD_COMMAND=npm run build-qa" >> $GITHUB_ENV
          elif [[ "$BRANCH_NAME" == "hotfix" || "$BRANCH_NAME" == release/* ]]; then
            echo "BUILD_COMMAND=npm run build-hotfix" >> $GITHUB_ENV
          elif [[ "$BRANCH_NAME" == "pentest" || "$BRANCH_NAME" == pen/* ]]; then
            echo "BUILD_COMMAND=npm run build-pen" >> $GITHUB_ENV
          else
            echo "BUILD_COMMAND=npm run build-dev" >> $GITHUB_ENV
          fi

      - name: Run build
        run: |
          echo "Running build command: $BUILD_COMMAND"
          $BUILD_COMMAND

      - name: Check build results
        if: failure()
        run: |
          echo "Build failed. Please check the build logs for details."
          exit 1
