name: PR Template Check

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  check-pr-template:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Validate PR description
        id: validate
        run: |
          REQUIRED_FIELDS=("Does this PR introduce a breaking change?" "Is the UI build tested locally and working?" "Have the unit tests been run locally and are they passing?" "Did the PR created according to the UI Platform Standards?" "What changes does this PR include" "Count of eslint issues")
          MISSING_FIELDS=()
          for FIELD in "${REQUIRED_FIELDS[@]}"; do
            if ! grep -q "$FIELD" "$GITHUB_EVENT_PATH"; then
              MISSING_FIELDS+=("$FIELD")
            fi
          done
          if [ ${#MISSING_FIELDS[@]} -ne 0 ]; then
            echo "Missing fields: ${MISSING_FIELDS[@]}"
            echo "missing_fields=${MISSING_FIELDS[@]}" >> $GITHUB_OUTPUT
            exit 1
          else
            echo "missing_fields=none" >> $GITHUB_OUTPUT

      - name: Output missing fields
        if: steps.validate.outputs.missing_fields != 'none'
        run: |
          echo "::error::PR template validation failed. Missing required fields: ${{ steps.validate.outputs.missing_fields }}"
