name: Unit Test Check

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22.13.1" # Use the appropriate Node.js version for your project

      # - name: Set up .npmrc
      #   run: |
      #     echo "strict-ssl=false" > ~/.npmrc
      #     echo "//npm.pkg.github.com/:_authToken=${{ secrets.GPKG_TOKEN }}" >> ~/.npmrc
      #     echo "@TCB-Application-Development:registry=https://npm.pkg.github.com/" >> ~/.npmrc
      #     echo "registry=https://registry.npmjs.org/" >> ~/.npmrc
      #     echo "//registry.npmjs.org/:_authToken=${{ secrets.NPKG_TOKEN }}" >> ~/.npmrc
      #     echo "@tcb-application-development:registry=https://npm.pkg.github.com/" >> ~/.npmrc
      #     echo "@tcb-enterprise-services:registry=https://npm.pkg.github.com/" >> ~/.npmrc

      - name: Install dependencies
        run: npm install

      - name: Run tests
        id: test
        run: |
          npm run test || exit 1

      - name: Check test results
        if: failure()
        run: |
          echo "::error::Test check failed. Please check the test logs for details."
          exit 1
